{
  "openapi": "3.0.0",
  "info": {
    "title": "Composio OpenAPI",
    "description": "Composio SDK: Equip your agent with high-quality tools and build your real-world usecase",
    "version": "1.0.0",
    "x-konfig-ignore": {
      "object-with-no-properties": true
    }
  },
  "servers": [
    {
      "url": "https://backend.composio.dev"
    }
  ],
  "tags": [
    {
      "name": "Triggers"
    },
    {
      "name": "Connections"
    },
    {
      "name": "Apps"
    },
    {
      "name": "Integrations"
    },
    {
      "name": "Actions"
    },
    {
      "name": "Event Logs"
    },
    {
      "name": "Payment"
    },
    {
      "name": "API-Keys"
    },
    {
      "name": "Logs"
    },
    {
      "name": "Analytics"
    },
    {
      "name": "Auth"
    }
  ],
  "paths": {
    "/api/v1/client/auth/identify": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Identify client",
        "operationId": "ClientAuth_identifyClientOperation",
        "requestBody": {
          "description": "IdentifyClientReqDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentifyClientReqDTO"
              }
            }
          },
          "required": false
        },
        "responses": {
          "202": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentifyClientResDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/api_keys": {
      "post": {
        "tags": [
          "API-Keys"
        ],
        "summary": "Generate api key",
        "operationId": "ApiKeys_generate",
        "requestBody": {
          "description": "GenerateAPIKeyReqDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAPIKeyReqDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeyResDTO"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "API-Keys"
        ],
        "summary": "List api keys",
        "operationId": "ApiKeys_list",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeysListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/api_keys/{id}": {
      "delete": {
        "tags": [
          "API-Keys"
        ],
        "summary": "Delete api key",
        "operationId": "ApiKeys_remove",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAPIKeyResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/apps": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Get apps",
        "operationId": "App_list",
        "description": "Retrieve a list of all applications based on query parameters.",
        "parameters": [
          {
            "in": "query",
            "name": "category",
            "schema": {
              "description": "Category of the app",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "includeLocal",
            "schema": {
              "description": "Whether to include local tools or not",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppListResDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/apps/openapi/spec/list": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Get opena api specs",
        "operationId": "App_listOpenApiSpecs",
        "responses": {
          "200": {
            "description": "List of all openapi spec tools",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppListOpenApiSpecsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/apps/openapi/spec/delete/{id}": {
      "delete": {
        "tags": [
          "Apps"
        ],
        "summary": "Delete open api spec tool",
        "operationId": "Apps_deleteOpenApiSpecTool",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppsDeleteOpenApiSpecToolResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/apps/openapi/send_email_to_client": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Send email to client",
        "operationId": "Apps_sendEmailToClient",
        "parameters": [
          {
            "in": "query",
            "name": "adminToken",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppsSendEmailToClientRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppsSendEmailToClientResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/apps/openapi/spec/status/{id}": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Get open api spec status",
        "operationId": "Apps_getOpenApiSpecStatus",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppsGetOpenApiSpecStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/apps/{appName}": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Get app",
        "operationId": "App_getDetails",
        "description": "Get app details",
        "parameters": [
          {
            "in": "path",
            "name": "appName",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleAppInfoResDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/integrations": {
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Create connector",
        "operationId": "AppConnector_createIntegration",
        "requestBody": {
          "description": "CreateConnectorPayloadDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConnectorPayloadDTO"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConnectorInfoResDTO"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "List all connectors",
        "operationId": "AppConnector_listGlobalConnectors",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConnectorListResDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/integrations/{integrationId}": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "Get connector info",
        "operationId": "AppConnector_getConnectorInfo",
        "parameters": [
          {
            "in": "path",
            "name": "integrationId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConnectorInfoResDTO"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Integrations"
        ],
        "summary": "Modify connector",
        "operationId": "AppConnector_updateIntegration",
        "parameters": [
          {
            "in": "path",
            "name": "integrationId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "PatchConnectorReqDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchConnectorReqDTO"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchConnectorResDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Integrations"
        ],
        "summary": "Delete connector",
        "operationId": "AppConnector_deleteConnector",
        "parameters": [
          {
            "in": "path",
            "name": "integrationId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteRowAPIDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/integrations/{integrationId}/status": {
    },
    "/api/v1/connectedAccounts": {
      "get": {
        "tags": [
          "Connections"
        ],
        "summary": "Get connections",
        "operationId": "Connections_list",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "appNames",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "integrationId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "connectionId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "user_uuid",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "showActiveOnly",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "showDisabled",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all connections for the current user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConnectionsResponseDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Connections"
        ],
        "summary": "Initiate connection",
        "operationId": "Connections_initiate",
        "requestBody": {
          "description": "InitiateConnectionPayloadDto",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitiateConnectionPayloadDto"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Initiates a connection for the given integration and mark the connection status as initiated if the auth scheme is OAuth1 or OAuth2",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InitiateConnectionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/connectedAccounts/{connectedAccountId}": {
      "get": {
        "tags": [
          "Connections"
        ],
        "summary": "Get connection",
        "operationId": "Connections_get",
        "parameters": [
          {
            "in": "path",
            "name": "connectedAccountId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve details of a specific connected account by its ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectedAccountResponseDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Connections"
        ],
        "summary": "Delete connection",
        "operationId": "Connections_delete",
        "parameters": [
          {
            "in": "path",
            "name": "connectedAccountId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteRowAPIDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/connectedAccounts/{connectedAccountId}/info": {
      "get": {
        "tags": [
          "Connections"
        ],
        "summary": "Get connection info",
        "operationId": "Connections_getInfo",
        "parameters": [
          {
            "in": "path",
            "name": "connectedAccountId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConnectionInfoResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/connectedAccounts/{connectedAccountId}/disable": {
      "post": {
        "tags": [
          "Connections"
        ],
        "summary": "Disable connection",
        "operationId": "Connections_disable",
        "parameters": [
          {
            "in": "path",
            "name": "connectedAccountId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToggleConnectedAccountResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/connectedAccounts/{connectedAccountId}/enable": {
      "post": {
        "tags": [
          "Connections"
        ],
        "summary": "Enable connection",
        "operationId": "Connections_enable",
        "parameters": [
          {
            "in": "path",
            "name": "connectedAccountId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToggleConnectedAccountResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/triggers": {
      "get": {
        "tags": [
          "Triggers"
        ],
        "summary": "List triggers",
        "operationId": "Triggers_list",
        "description": "List triggers",
        "parameters": [
          {
            "in": "query",
            "name": "appNames",
            "schema": {
              "description": "Names of the apps",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "connectedAccountIds",
            "schema": {
              "description": "IDs of the connected accounts",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "triggerIds",
            "schema": {
              "description": "IDs of the triggers",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "showEnabledOnly",
            "schema": {
              "description": "Show enabled only",
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TriggersListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/triggers/enable/{connectedAccountId}/{triggerName}": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "Enable trigger",
        "operationId": "Triggers_enable",
        "description": "Enables a trigger for a connected account and specific trigger name.",
        "parameters": [
          {
            "in": "path",
            "name": "connectedAccountId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "triggerName",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "EnableTriggerBodyDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnableTriggerBodyDTO"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TriggerResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/triggers/active_triggers": {
      "get": {
        "tags": [
          "Triggers"
        ],
        "summary": "Get active triggers",
        "operationId": "Triggers_getActiveTriggers",
        "description": "Lists active triggers based on query parameters.",
        "parameters": [
          {
            "in": "query",
            "name": "connectedAccountIds",
            "schema": {
              "description": "IDs of the connected accounts",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "integrationIds",
            "schema": {
              "description": "IDs of the integrations",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "triggerIds",
            "schema": {
              "description": "IDs of the triggers",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "triggerNames",
            "schema": {
              "description": "Names of the triggers",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "description": "Page number",
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Limit per page",
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "showDisabled",
            "schema": {
              "description": "Show disabled triggers",
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveTriggersResDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/triggers/instance/{triggerId}/status": {
      "patch": {
        "tags": [
          "Triggers"
        ],
        "summary": "Switch trigger instance status",
        "operationId": "Triggers_switchInstanceStatus",
        "description": "Switches the status of a trigger instance.",
        "parameters": [
          {
            "in": "path",
            "name": "triggerId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "SwitchTriggerStatusBodyDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SwitchTriggerStatusBodyDTO"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TriggerResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/triggers/disable/{triggerInstanceId}": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "Disable trigger",
        "operationId": "Triggers_disableTriggerInstance",
        "description": "Disables a specified trigger instance.",
        "parameters": [
          {
            "in": "path",
            "name": "triggerInstanceId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TriggerResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/triggers/instance/{triggerInstanceId}": {
      "delete": {
        "tags": [
          "Triggers"
        ],
        "summary": "Delete trigger",
        "operationId": "Triggers_deleteTriggerInstance",
        "description": "Deletes a specified trigger instance.",
        "parameters": [
          {
            "in": "path",
            "name": "triggerInstanceId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteRowAPIDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/triggers/set_callback_url": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "Set callback url",
        "operationId": "Triggers_setCallbackUrl",
        "description": "Sets a universal callback URL for the client.",
        "requestBody": {
          "description": "SetCallbackUrlBodyDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetCallbackUrlBodyDTO"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TriggerResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/triggers/callback_url": {
      "get": {
        "tags": [
          "Triggers"
        ],
        "summary": "Get webhook url",
        "operationId": "Triggers_getCallbackUrl",
        "description": "Retrieves the universal callback URL set for the client.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookURLResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/triggers/logs": {
      "get": {
        "tags": [
          "Triggers"
        ],
        "summary": "Get logs",
        "operationId": "Triggers_getLogsBasedOnConnectionAndIntegrationDetails",
        "description": "Fetches logs based on connection and integration details.",
        "parameters": [
          {
            "in": "query",
            "name": "connectionId",
            "schema": {
              "description": "ID of the connection",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "integrationId",
            "schema": {
              "description": "ID of the integration",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "description": "Page number",
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Limit per page",
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TriggerLogsResDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/actions/list/all": {
      "get": {
        "tags": [
          "Actions"
        ],
        "summary": "List actions minimal",
        "operationId": "ActionsControllerV2_getAllActionsBasedOnQuery",
        "description": "Retrieve a list of all actions based on query parameters.",
        "parameters": [
          {
            "in": "query",
            "name": "appNames",
            "schema": {
              "description": "Names of the apps",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "useCase",
            "schema": {
              "description": "Use case",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "showEnabledOnly",
            "schema": {
              "description": "Show enabled only",
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Limit",
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "apps",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "actions",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tags",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "usecaseLimit",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "filterImportantActions",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showAll",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionsListResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/actions/{actionId}/execute": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Execute action",
        "operationId": "ActionsControllerV2_execute",
        "description": "Execute an action. Support both connected account and no auth auth.",
        "parameters": [
          {
            "in": "path",
            "name": "actionId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "ActionExecutionReqDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActionExecutionReqDTO"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionExecutionResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/actions/{actionId}/execute/get.inputs": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Get action inputs",
        "operationId": "Actions_getActionInputs",
        "description": "Get the inputs for an action with NLA",
        "parameters": [
          {
            "in": "path",
            "name": "actionId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "ActionGetNLAInputsReqDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActionGetNLAInputsReqDTO"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionsGetActionInputsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/actions/{actionId}": {
      "get": {
        "tags": [
          "Actions"
        ],
        "summary": "Get action",
        "operationId": "ActionsControllerV2_getActionById",
        "description": "Get action details",
        "parameters": [
          {
            "in": "path",
            "name": "actionId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/actions/proxy": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Execute action proxy",
        "operationId": "ActionsControllerV2_executeActionProxy",
        "description": "Execute an action with direct auth.",
        "parameters": [
          {
            "in": "query",
            "name": "endpoint",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "connectedAccountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionExecutionResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/triggers/{triggerName}": {
      "get": {
        "tags": [
          "Triggers"
        ],
        "summary": "Get trigger info",
        "operationId": "TriggerControllerV2_getTriggerInfo",
        "description": "Get Trigger Info",
        "parameters": [
          {
            "in": "path",
            "name": "triggerName",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TriggerControllerV2GetTriggerInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/analytics/entities": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get top entities",
        "operationId": "Analytics_getTopEntities",
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "schema": {
              "description": "Query to get the data for",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopEntitiesResDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/event_logs/set/webhook": {
      "post": {
        "tags": [
          "Event Logs"
        ],
        "summary": "Update webhook",
        "operationId": "EventLogs_updateWebhook",
        "requestBody": {
          "description": "WebhookReqDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookReqDTO"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventLogsUpdateWebhookResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/event_logs/get/webhook": {
      "get": {
        "tags": [
          "Event Logs"
        ],
        "summary": "Get webhook",
        "operationId": "EventLogs_getWebhook",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventLogsGetWebhookResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/event_logs/get/events": {
      "get": {
        "tags": [
          "Event Logs"
        ],
        "summary": "Get events",
        "operationId": "EventLogs_getEvents",
        "description": "Fetch events from database",
        "parameters": [
          {
            "in": "query",
            "name": "startTime",
            "required": true,
            "schema": {
              "description": "Start time of the event in ISO 8601 format",
              "pattern": "\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d.\\d+Z?",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "endTime",
            "required": true,
            "schema": {
              "description": "End time of the event in ISO 8601 format",
              "pattern": "\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d.\\d+Z?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventLogsGetEventsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/event_logs/webhook/secret/get": {
      "get": {
        "tags": [
          "Event Logs"
        ],
        "summary": "Get webhook secret",
        "operationId": "EventLogs_getWebhookSecret",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventLogsGetWebhookSecretResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/event_logs/webhook/secret/refresh": {
      "post": {
        "tags": [
          "Event Logs"
        ],
        "summary": "Refresh webhook",
        "operationId": "EventLogs_refreshWebhookSecret",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventLogsRefreshWebhookSecretResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payment/create-checkout-session": {
      "post": {
        "tags": [
          "Payment"
        ],
        "summary": "Create checkout session",
        "operationId": "Payment_createCheckoutSession",
        "requestBody": {
          "description": "CreateCheckoutSessionReqDto",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCheckoutSessionReqDto"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentCreateCheckoutSessionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payment/checkout-session/{sessionId}/status": {
      "get": {
        "tags": [
          "Payment"
        ],
        "summary": "Get checkout session status",
        "operationId": "Payment_getCheckoutSessionStatus",
        "parameters": [
          {
            "in": "path",
            "name": "sessionId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentGetCheckoutSessionStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payment/invoices": {
      "get": {
        "tags": [
          "Payment"
        ],
        "summary": "Get invoices",
        "operationId": "Payment_getInvoices",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentGetInvoicesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payment/invoices/{invoiceId}": {
      "get": {
        "tags": [
          "Payment"
        ],
        "summary": "Get invoice",
        "operationId": "Payment_getInvoice",
        "parameters": [
          {
            "in": "path",
            "name": "invoiceId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentGetInvoiceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payment/webhook": {
      "post": {
        "tags": [
          "Payment"
        ],
        "summary": "Handle stripe webhook",
        "operationId": "Payment_handleStripeWebhook",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentHandleStripeWebhookRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentHandleStripeWebhookResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/logs": {
      "get": {
        "tags": [
          "Logs"
        ],
        "summary": "Get logs",
        "operationId": "Logs_list",
        "description": "List logs",
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "schema": {
              "description": "Type of the log",
              "enum": [
                "error",
                "info",
                "debug"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "time",
            "schema": {
              "description": "Time interval for which data needs to be fetched",
              "enum": [
                "5m",
                "30m",
                "6h",
                "1d",
                "1w",
                "1month",
                "1y"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "description": "Status of the log",
              "enum": [
                "all",
                "success",
                "error"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "description": "Search term in the log",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "integrationId",
            "schema": {
              "description": "Integration UUID",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "entityId",
            "schema": {
              "description": "Entity id",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Limit of the logs",
              "type": "number",
              "default": 10
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "Cursor for pagination",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "logsType",
            "schema": {
              "description": "Type of the log",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogsResDTO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Logs"
        ],
        "summary": "Post logs",
        "operationId": "Logs_addNewLogs",
        "description": "Add new logs",
        "requestBody": {
          "description": "IngestDataDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IngestDataDTO"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngestDataResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/analytics": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get analytics",
        "operationId": "Analytics_get",
        "parameters": [
          {
            "in": "query",
            "name": "lastTimePeriod",
            "schema": {
              "description": "Time period to get the data for",
              "enum": [
                "DAY",
                "WEEK",
                "MONTH",
                "SIX_MONTH",
                "YEAR",
                "FIVE_YEAR"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsDataResDTO"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MemberInfoResDTO": {
        "description": "Member information",
        "properties": {
          "id": {
            "type": "string"
          },
          "clientId": {
            "type": "string"
          },
          "email": {
            "format": "email",
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "metadata": {
          },
          "createdAt": {
            "oneOf": [
              {
                "format": "date",
                "type": "string"
              },
              {
                "format": "date-time",
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "oneOf": [
              {
                "format": "date",
                "type": "string"
              },
              {
                "format": "date-time",
                "type": "string"
              }
            ]
          },
          "deletedAt": {
            "oneOf": [
              {
                "format": "date",
                "type": "string"
              },
              {
                "format": "date-time",
                "type": "string"
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "id",
          "clientId",
          "email",
          "name",
          "role",
          "createdAt",
          "updatedAt"
        ]
      },
      "MagicLinkResDTO": {
        "properties": {
          "status": {
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "status"
        ]
      },
      "MagicLinkReqDTO": {
        "properties": {
          "email": {
            "description": "The email of the user",
            "format": "email",
            "type": "string"
          },
          "verifyHost": {
            "description": "The frontend host of the user",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "email",
          "verifyHost"
        ]
      },
      "LogoutResDTO": {
        "properties": {
          "message": {
            "description": "Message confirming the logout",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "message"
        ]
      },
      "VerifyMagicLinkReqDTO": {
        "properties": {
          "token": {
            "description": "The magic link token",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "token"
        ]
      },
      "VerifyMagicLinkDataDTO": {
        "description": "Data containing client and token information if verification is successful",
        "properties": {
          "clientId": {
            "type": "string"
          },
          "isValid": {
            "type": "boolean"
          },
          "jwtToken": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        },
        "type": "object",
        "required": [
          "clientId",
          "isValid",
          "jwtToken",
          "email"
        ]
      },
      "VerifyMagicLinkResDTO": {
        "properties": {
          "message": {
            "description": "Message indicating the result of the verification",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/VerifyMagicLinkDataDTO"
          }
        },
        "type": "object",
        "required": [
          "message"
        ]
      },
      "IdentifyClientReqDTO": {
        "properties": {
          "hash": {
            "description": "The hash of the client",
            "type": "string"
          },
          "framework": {
            "description": "The framework used by the client",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "hash"
        ]
      },
      "IdentifyClientResDTO": {
        "properties": {
          "clientId": {
            "description": "The client ID",
            "type": "string"
          },
          "apiKey": {
            "description": "The API key associated with the client",
            "type": "string"
          },
          "email": {
            "description": "The email associated with the client",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "clientId",
          "apiKey",
          "email"
        ]
      },
      "UserGitUserInfo": {
        "description": "User Git information",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "format": "email",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "email"
        ]
      },
      "TrackClientReqDTO": {
        "properties": {
          "framework": {
            "description": "The framework used by the client",
            "type": "string"
          },
          "mac_address": {
            "description": "The MAC address of the client device",
            "type": "string"
          },
          "user_git_user_info": {
            "$ref": "#/components/schemas/UserGitUserInfo"
          }
        },
        "type": "object",
        "required": [
          "framework"
        ]
      },
      "TrackClientResDTO": {
        "properties": {
          "message": {
            "description": "Message indicating the result of the tracking operation",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "message"
        ]
      },
      "DeleteRowAPIDTO": {
        "properties": {
          "status": {
            "description": "Status of the delete operation",
            "type": "string"
          },
          "count": {
            "description": "Number of records deleted",
            "type": "number"
          }
        },
        "type": "object",
        "required": [
          "status",
          "count"
        ]
      },
      "InviteMemberReqDTO": {
        "properties": {
          "email": {
            "description": "The email of the member",
            "format": "email",
            "type": "string"
          },
          "name": {
            "description": "The name of the member",
            "type": "string"
          },
          "verifyHost": {
            "description": "The host to verify the member",
            "type": "string"
          },
          "role": {
            "description": "The role that will be assignied to the invited user",
            "enum": [
              "admin",
              "developer"
            ],
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "email",
          "name",
          "verifyHost"
        ]
      },
      "MemberResDTO": {
        "properties": {
          "email": {
            "description": "The email of the member",
            "type": "string"
          },
          "id": {
            "description": "The uuid identifier for the member",
            "type": "string"
          },
          "name": {
            "description": "The name of the member",
            "type": "string"
          },
          "createdAt": {
            "description": "The creation date of the member record",
            "pattern": "\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d.\\d+Z?",
            "type": "string"
          },
          "role": {
            "description": "The role that is assigned to the member",
            "enum": [
              "admin",
              "developer"
            ],
            "type": "string"
          },
          "updatedAt": {
            "description": "The last update date of the member record",
            "pattern": "\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d.\\d+Z?",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "email",
          "id",
          "name",
          "role"
        ]
      },
      "UpdateMemberReqDTO": {
        "properties": {
          "memberId": {
            "description": "The uuid identifier for the member",
            "type": "string"
          },
          "role": {
            "description": "The role that is assigned to the member",
            "enum": [
              "admin",
              "developer"
            ],
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "memberId",
          "role"
        ]
      },
      "GenerateAPIKeyReqDTO": {
        "properties": {
          "name": {
            "description": "The name of the API key to be generated",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "name"
        ]
      },
      "APIKeyResDTO": {
        "properties": {
          "id": {
            "description": "The ID of the API key",
            "type": "string"
          },
          "name": {
            "description": "The name of the API key",
            "type": "string"
          },
          "createdAt": {
            "description": "The creation date of the API key",
            "pattern": "\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d.\\d+Z?",
            "type": "string"
          },
          "updatedAt": {
            "description": "The last update date of the API key",
            "pattern": "\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d.\\d+Z?",
            "type": "string"
          },
          "key": {
            "description": "The generated API key",
            "type": "string"
          },
          "isHidden": {
            "description": "Whether the API key is hidden",
            "type": "boolean"
          },
          "lastUsed": {
            "description": "The last used date of the API key",
            "pattern": "\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d.\\d+Z?",
            "type": "string"
          },
          "member": {
            "description": "The member of the API key",
            "type": "object"
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "createdAt",
          "updatedAt",
          "key",
          "isHidden",
          "member"
        ]
      },
      "DeleteAPIKeyReqDTO": {
        "properties": {
          "id": {
            "description": "The ID of the API key to be deleted",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "id"
        ]
      },
      "DeleteAPIKeyResponseDTO": {
        "properties": {
          "deleted": {
            "description": "The status of the delete operation",
            "type": "boolean"
          }
        },
        "type": "object",
        "required": [
          "deleted"
        ]
      },
      "SingleAppInfoResDTO": {
        "properties": {
          "description": {
            "description": "The description of the app",
            "type": "string"
          },
          "appId": {
            "description": "The unique identifier for the app",
            "type": "string"
          },
          "key": {
            "description": "The key of the app",
            "type": "string"
          },
          "name": {
            "description": "The name of the app",
            "type": "string"
          },
          "logo": {
            "description": "The logo of the app",
            "type": "string"
          },
          "categories": {
            "description": "The categories of the app",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "path": {
            "description": "The path of the app",
            "type": "string"
          },
          "docs": {
            "description": "The documentation URL of the app",
            "type": "string"
          },
          "configuration_docs_text": {
            "description": "The configuration documentation text of the app",
            "type": "string"
          },
          "status": {
            "description": "The status of the app",
            "type": "string"
          },
          "documentation_doc_text": {
            "description": "The documentation text of the app",
            "type": "string"
          },
          "testConnectors": {
            "description": "The test connectors of the app",
            "items": {
              "type": "object"
            },
            "type": "array"
          },
          "no_auth": {
            "description": "Indicates if the app has no authentication",
            "type": "boolean"
          },
          "auth_schemes": {
            "description": "The authentication schemes of the app",
            "items": {
              "type": "object"
            },
            "type": "array"
          },
          "meta": {
            "description": "The metadata of the app"
          },
          "yaml": {
            "description": "The yaml of the app"
          }
        },
        "type": "object",
        "required": [
          "appId",
          "key",
          "name",
          "description"
        ]
      },
      "AddToolsReqDTO": {
        "properties": {
          "name": {
            "description": "The name of the tool",
            "type": "string"
          },
          "openApiSpecYaml": {
            "description": "The OpenAPI specification in YAML format",
            "type": "string"
          },
          "integrationYaml": {
            "description": "The integration details in YAML format",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "name",
          "openApiSpecYaml",
          "integrationYaml"
        ]
      },
      "OpenAPISpecListResDTO": {
        "properties": {
          "id": {
            "description": "Unique identifier for the OpenAPI spec",
            "type": "string"
          },
          "name": {
            "description": "Name of the OpenAPI spec",
            "type": "string"
          },
          "clientId": {
            "description": "Client identifier",
            "type": "string"
          },
          "lastSyncAt": {
            "description": "Last synchronization date and time",
            "pattern": "\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d.\\d+Z?",
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "description": "Creation date and time",
            "pattern": "\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d.\\d+Z?",
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "description": "Last update date and time",
            "pattern": "\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d.\\d+Z?",
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "description": "The job status of the app",
            "enum": [
              "initialized",
              "running",
              "caching",
              "cancelled",
              "finished",
              "exited"
            ],
            "type": "string"
          },
          "state": {
            "description": "Current state of the app FSM",
            "enum": [
              "preprocess",
              "validate",
              "prepare",
              "build",
              "push",
              "load",
              "finish"
            ],
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "clientId",
          "lastSyncAt",
          "createdAt",
          "updatedAt"
        ]
      },
      "AddRepoURLResDTO": {
        "properties": {
          "repoUrl": {
            "description": "Repository URL",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "repoUrl"
        ]
      },
      "DeleteToolsReqDTO": {
        "properties": {
          "name": {
            "description": "Name of the tool",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "name"
        ]
      },
      "DeleteToolsResDTO": {
        "properties": {
          "message": {
            "description": "Message indicating successful deletion of tools",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "message"
        ]
      },
      "AddToolsRequestDTO": {
        "properties": {
          "name": {
            "description": "The name of the tool",
            "type": "string"
          },
          "open_api_spec_yaml": {
            "description": "The OpenAPI specification in YAML format",
            "type": "string"
          },
          "integration_yaml": {
            "description": "The integration details in YAML format",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "name",
          "open_api_spec_yaml",
          "integration_yaml"
        ]
      },
      "AddRepoURLReqDTO": {
        "properties": {
          "repoUrl": {
            "description": "Repository URL",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "repoUrl"
        ]
      },
      "AppQueryDTO": {
        "properties": {
          "category": {
            "description": "Category of the app",
            "type": "string"
          },
          "includeLocal": {
            "description": "Whether to include local tools or not",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AppInfoResponseDto": {
        "properties": {
          "description": {
            "description": "The description of the app",
            "type": "string"
          },
          "appId": {
            "description": "The ID of the app",
            "type": "string"
          },
          "key": {
            "description": "The key of the app",
            "type": "string"
          },
          "name": {
            "description": "The name of the app",
            "type": "string"
          },
          "logo": {
            "description": "The logo of the app",
            "type": "string"
          },
          "categories": {
            "description": "The categories of the app",
            "items": {
              "type": "object"
            },
            "type": "string"
          },
          "enabled": {
            "description": "Indicates if the app is enabled",
            "type": "boolean"
          },
          "no_auth": {
            "description": "Indicates if the app has no authentication",
            "type": "boolean"
          }
        },
        "type": "object",
        "required": [
          "appId",
          "key",
          "name",
          "description",
          "logo",
          "categories",
          "enabled"
        ]
      },
      "AppListResDTO": {
        "properties": {
          "items": {
            "description": "List of app details",
            "items": {
              "$ref": "#/components/schemas/AppInfoResponseDto"
            },
            "type": "array"
          },
          "totalPages": {
            "description": "Total number of pages",
            "type": "number"
          }
        },
        "type": "object",
        "required": [
          "items",
          "totalPages"
        ]
      },
      "GetConnectorInfoResDTO": {
        "properties": {
          "id": {
            "description": "Unique identifier of the connector",
            "type": "string"
          },
          "authScheme": {
            "description": "Authentication scheme used by the connector",
            "type": "string"
          },
          "name": {
            "description": "Name of the connector",
            "type": "string"
          },
          "createdAt": {
            "description": "Creation date of the connector",
            "pattern": "\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d.\\d+Z?",
            "type": "string"
          },
          "updatedAt": {
            "description": "Last update date of the connector",
            "pattern": "\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d.\\d+Z?",
            "type": "string"
          },
          "enabled": {
            "description": "Flag to indicate if the connector is currently enabled",
            "type": "boolean"
          },
          "deleted": {
            "description": "Flag to indicate if the connector has been deleted",
            "type": "boolean"
          },
          "appId": {
            "description": "Application ID associated with the connector",
            "type": "string"
          },
          "defaultConnectorId": {
            "description": "Default connector ID if one exists",
            "type": "string"
          },
          "authConfig": {
            "description": "Authentication configuration with sensitive data obscured",
            "type": "object"
          },
          "expectedInputFields": {
            "description": "List of required fields expected from the customer",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "logo": {
            "description": "Logo URL of the application associated with the connector",
            "type": "string"
          },
          "appName": {
            "description": "Name of the application associated with the connector",
            "type": "string"
          },
          "useComposioAuth": {
            "description": "Flag to indicate if Composio authentication is used",
            "type": "boolean"
          }
        },
        "type": "object",
        "required": [
          "enabled",
          "appId",
          "authConfig",
          "expectedInputFields",
          "logo",
          "appName",
          "useComposioAuth"
        ]
      },
      "AuthConfigDTO": {
        "description": "Authentication configuration",
        "properties": {
          "scopes": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "user_scopes": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "CreateConnectorPayloadDTO": {
        "properties": {
          "name": {
            "description": "Name of the connector",
            "type": "string"
          },
          "authScheme": {
            "description": "Authentication scheme",
            "type": "string"
          },
          "authConfig": {
            "$ref": "#/components/schemas/AuthConfigDTO"
          },
          "useComposioAuth": {
            "description": "Flag to indicate if Composio authentication should be used",
            "type": "boolean",
            "anyOf": [
              {
                "type": "boolean"
              }
            ]
          },
          "appId": {
            "description": "Application ID",
            "type": "string"
          },
          "forceNewIntegration": {
            "description": "Flag to force new integration",
            "type": "boolean"
          }
        },
        "type": "object",
        "required": [
          "name",
          "appId"
        ]
      },
      "PatchConnectorReqDTO": {
        "properties": {
          "authConfig": {
            "description": "Authentication configuration for the connector",
            "type": "object"
          },
          "enabled": {
            "description": "Flag to indicate if the connector is enabled",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "PatchConnectorResDTO": {
        "properties": {
          "status": {
            "description": "Status of the patch operation",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "status"
        ]
      },
      "ConnectorListItemDTO": {
        "description": "List of connectors",
        "properties": {
          "appName": {
            "description": "Application name associated with the connector",
            "type": "string"
          },
          "_count": {
            "description": "Count of connections for the connector",
            "type": "object"
          },
          "connections": {
            "description": "List of connections with their details and request logs count",
            "items": {
              "type": "object"
            },
            "type": "array"
          },
          "id": {
            "description": "Unique identifier of the connector",
            "type": "string"
          },
          "member": {
            "$ref": "#/components/schemas/MemberInfoResDTO"
          },
          "name": {
            "description": "Name of the connector",
            "type": "string"
          },
          "authScheme": {
            "description": "Authentication scheme used by the connector",
            "type": "string"
          },
          "createdAt": {
            "description": "Creation date of the connector",
            "oneOf": [
              {
                "format": "date",
                "type": "string"
              },
              {
                "format": "date-time",
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "description": "Last update date of the connector",
            "oneOf": [
              {
                "format": "date",
                "type": "string"
              },
              {
                "format": "date-time",
                "type": "string"
              }
            ]
          },
          "enabled": {
            "description": "Flag to indicate if the connector is enabled",
            "type": "boolean"
          },
          "deleted": {
            "description": "Flag to indicate if the connector is deleted",
            "type": "boolean"
          },
          "appId": {
            "description": "App ID associated with the connector",
            "type": "string"
          },
          "defaultConnectorId": {
            "description": "Default connector ID if available",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "appName",
          "_count",
          "connections",
          "id",
          "member",
          "name",
          "authScheme",
          "createdAt",
          "updatedAt",
          "enabled",
          "appId"
        ]
      },
      "GetConnectorListResDTO": {
        "properties": {
          "items": {
            "items": {
              "type": "object"
            },
            "type": "array"
          },
          "totalPages": {
            "description": "Total number of pages available",
            "type": "number"
          },
          "page": {
            "description": "Current page number",
            "type": "number"
          }
        },
        "type": "object",
        "required": [
          "items",
          "totalPages",
          "page"
        ]
      },
      "PageInfo": {
        "properties": {
          "total": {
            "minimum": 0,
            "type": "integer"
          },
          "page": {
            "minimum": 1,
            "type": "integer"
          },
          "pageSize": {
            "minimum": 1,
            "type": "integer"
          },
          "totalPages": {
            "minimum": 1,
            "type": "integer"
          }
        },
        "type": "object",
        "required": [
          "total",
          "page",
          "pageSize",
          "totalPages"
        ]
      },
      "ConnectionWithAppData": {
        "properties": {
          "id": {
            "type": "string"
          },
          "integrationId": {
            "type": "string"
          },
          "clientUniqueUserId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object"
          },
          "deleted": {
            "type": "boolean"
          },
          "enabled": {
            "type": "boolean"
          },
          "createdAt": {
            "oneOf": [
              {
                "format": "date",
                "type": "string"
              },
              {
                "format": "date-time",
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "oneOf": [
              {
                "format": "date",
                "type": "string"
              },
              {
                "format": "date-time",
                "type": "string"
              }
            ]
          },
          "appUniqueId": {
            "type": "string"
          },
          "appName": {
            "type": "string"
          },
          "logo": {
            "type": "string"
          },
          "authConfig": {
            "type": "object"
          },
          "member": {
            "items": {
              "$ref": "#/components/schemas/MemberInfoResDTO"
            },
            "type": "object"
          }
        },
        "type": "object",
        "required": [
          "id",
          "integrationId",
          "status",
          "createdAt",
          "updatedAt",
          "appUniqueId",
          "appName",
          "member"
        ]
      },
      "GetConnectionsResult": {
        "properties": {
          "connections": {
            "items": {
              "$ref": "#/components/schemas/ConnectionWithAppData"
            },
            "type": "array"
          },
          "pageInfo": {
            "$ref": "#/components/schemas/PageInfo"
          }
        },
        "type": "object",
        "required": [
          "connections",
          "pageInfo"
        ]
      },
      "ToolsExecuteReqDto": {
        "properties": {
          "actionName": {
            "type": "string"
          },
          "runInSandbox": {
            "type": "boolean"
          },
          "input": {
            "type": "object"
          },
          "nlaInput": {
            "type": "string"
          },
          "authorizationData": {
            "type": "object"
          },
          "appSchema": {
            "type": "object"
          }
        },
        "type": "object",
        "required": [
          "actionName",
          "runInSandbox",
          "input"
        ]
      },
      "DirectExecuteReqDto": {
        "properties": {
          "endpoint": {
            "type": "string"
          },
          "base_url": {
            "type": "string"
          },
          "headers": {
            "type": "object"
          },
          "queryParams": {
            "type": "object"
          }
        },
        "type": "object",
        "required": [
          "endpoint",
          "base_url",
          "headers",
          "queryParams"
        ]
      },
      "ActionExecutionResDto": {
        "properties": {
          "data": {
            "type": "object"
          },
          "error": {
            "type": "string"
          },
          "successfull": {
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "data"
        ]
      },
      "ConnectionParams": {
        "properties": {
          "integrationId": {
            "type": "string"
          },
          "connectionParams": {
            "type": "object"
          },
          "isDisabled": {
            "type": "boolean"
          },
          "invocationCount": {
            "type": "number"
          },
          "id": {
            "type": "string"
          },
          "clientUniqueUserId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object"
          },
          "deleted": {
            "type": "boolean"
          },
          "enabled": {
            "type": "boolean"
          },
          "createdAt": {
            "oneOf": [
              {
                "format": "date",
                "type": "string"
              },
              {
                "format": "date-time",
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "oneOf": [
              {
                "format": "date",
                "type": "string"
              },
              {
                "format": "date-time",
                "type": "string"
              }
            ]
          },
          "appUniqueId": {
            "type": "string"
          },
          "appName": {
            "type": "string"
          },
          "logo": {
            "type": "string"
          },
          "authConfig": {
            "type": "object"
          },
          "member": {
            "items": {
              "$ref": "#/components/schemas/MemberInfoResDTO"
            },
            "type": "object"
          }
        },
        "type": "object",
        "required": [
          "integrationId",
          "isDisabled",
          "invocationCount",
          "id",
          "status",
          "createdAt",
          "updatedAt",
          "appUniqueId",
          "appName",
          "member"
        ]
      },
      "ToggleConnectedAccountResponseDTO": {
        "properties": {
          "status": {
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "status"
        ]
      },
      "ConnectionParamsHeaders": {
        "properties": {
          "Authorization": {
            "type": "string"
          },
          "x-request-id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "ConnectionParamsForAccount": {
        "properties": {
          "scope": {
            "type": "string"
          },
          "scopes": {
            "type": "string"
          },
          "id_token": {
            "type": "string"
          },
          "client_id": {
            "type": "string"
          },
          "expires_in": {
            "type": "string"
          },
          "token_type": {
            "type": "string"
          },
          "callback_url": {
            "type": "string"
          },
          "client_secret": {
            "type": "string"
          },
          "code_verifier": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          },
          "headers": {
            "type": "object"
          },
          "queryParams": {
            "type": "object"
          },
          "base_url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "MetaApp": {
        "properties": {
          "get_current_user_endpoint": {
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "get_current_user_endpoint"
        ]
      },
      "Meta": {
        "properties": {
          "app": {
            "type": "object"
          }
        },
        "type": "object",
        "required": [
          "app"
        ]
      },
      "ConnectedAccountResponseDTO": {
        "properties": {
          "integrationId": {
            "type": "string"
          },
          "appUniqueId": {
            "type": "string"
          },
          "memberInfo": {
            "$ref": "#/components/schemas/MemberInfoResDTO"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "isDisabled": {
            "type": "boolean"
          },
          "id": {
            "type": "string"
          },
          "clientUniqueUserId": {
            "type": "string"
          },
          "appName": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "integrationId",
          "appUniqueId",
          "id",
          "clientUniqueUserId",
          "appName",
          "entityId",
          "status",
          "createdAt",
          "updatedAt"
        ]
      },
      "GetConnectionsResponseDto": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/ConnectionParams"
            },
            "type": "array"
          },
          "totalPages": {
            "type": "number"
          },
          "page": {
            "type": "number"
          }
        },
        "type": "object",
        "required": [
          "items",
          "totalPages",
          "page"
        ]
      },
      "GetConnectionInfoResponseDTO": {
        "properties": {
          "parameters": {
            "items": {
              "$ref": "#/components/schemas/Parameter"
            },
            "type": "array"
          },
          "base_url": {
            "type": "string"
          },
          "body": {
            "type": "object"
          }
        },
        "type": "object",
        "required": [
          "base_url",
          "parameters",
          "body"
        ]
      },
      "Parameter": {
        "properties": {
          "name": {
            "type": "string"
          },
          "in": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "name",
          "in",
          "value"
        ]
      },
      "Data": {
        "properties": {
          "field1": {
            "type": "string"
          },
          "field2": {
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "field1",
          "field2"
        ]
      },
      "AdditionalInfo": {
        "properties": {
          "meta": {
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "meta"
        ]
      },
      "GetConnectionsQueryDto": {
        "properties": {
          "page": {
            "type": "number"
          },
          "pageSize": {
            "type": "number"
          },
          "appNames": {
            "type": "string"
          },
          "integrationId": {
            "type": "string"
          },
          "connectionId": {
            "type": "string"
          },
          "user_uuid": {
            "type": "string"
          },
          "showActiveOnly": {
            "type": "boolean"
          },
          "status": {
            "type": "string"
          },
          "showDisabled": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "InitiateConnectionPayloadDto": {
        "properties": {
          "data": {
            "type": "string",
            "minLength": 1
          },
          "integrationId": {
            "minLength": 1,
            "type": "string"
          },
          "redirectUri": {
            "type": "string"
          },
          "userUuid": {
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "integrationId"
        ]
      },
      "InitiateConnectionResponse": {
        "properties": {
          "connectionStatus": {
            "minLength": 1,
            "type": "string"
          },
          "connectedAccountId": {
            "minLength": 1,
            "type": "string"
          },
          "redirectUrl": {
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "connectionStatus",
          "connectedAccountId"
        ]
      },
      "CustomAuthDTO": {
        "properties": {
          "parameters": {
            "items": {
              "$ref": "#/components/schemas/Parameter"
            },
            "type": "array"
          },
          "base_url": {
            "type": "string"
          },
          "body": {
            "type": "object"
          }
        },
        "type": "object",
        "required": [
          "parameters"
        ]
      },
      "ActionExecutionReqDTO": {
        "properties": {
          "connectedAccountId": {
            "type": "string"
          },
          "appName": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "endpoint": {
            "type": "string"
          },
          "input": {
            "type": "object"
          },
          "authConfig": {
            "$ref": "#/components/schemas/CustomAuthDTO"
          },
          "text": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "ActionGetNLAInputsReqDTO": {
        "properties": {
          "text": {
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "text"
        ]
      },
      "ProxyExecutionReqDTO": {
        "properties": {
          "endpoint": {
            "type": "string"
          },
          "connectedAccountId": {
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "endpoint",
          "connectedAccountId"
        ]
      },
      "ActionDetailsMinimal": {
        "properties": {
          "tags": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "description": {
            "type": "string"
          },
          "appId": {
            "type": "string"
          },
          "appKey": {
            "type": "string"
          },
          "appName": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "logo": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "deprecated": {
            "type": "boolean"
          }
        },
        "type": "object",
        "required": [
          "appKey",
          "appName",
          "description",
          "displayName",
          "enabled",
          "logo",
          "name",
          "tags",
          "deprecated"
        ]
      },
      "ActionDetails": {
        "properties": {
          "tags": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "description": {
            "type": "string"
          },
          "parameters": {
            "type": "object"
          },
          "response": {
            "type": "object"
          },
          "appId": {
            "type": "string"
          },
          "appKey": {
            "type": "string"
          },
          "appName": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "logo": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "deprecated": {
            "type": "boolean"
          }
        },
        "type": "object",
        "required": [
          "parameters",
          "response",
          "appKey",
          "appName",
          "description",
          "displayName",
          "enabled",
          "logo",
          "name",
          "tags",
          "deprecated"
        ]
      },
      "ActionsListResponseDTO": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/ActionDetails"
            },
            "type": "array"
          },
          "page": {
            "type": "number"
          },
          "totalPages": {
            "type": "number"
          }
        },
        "type": "object",
        "required": [
          "items",
          "page",
          "totalPages"
        ]
      },
      "ActionsMinimalListResponseDTO": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/ActionDetailsMinimal"
            },
            "type": "array"
          },
          "page": {
            "type": "number"
          },
          "totalPages": {
            "type": "number"
          }
        },
        "type": "object",
        "required": [
          "items",
          "page",
          "totalPages"
        ]
      },
      "ExecuteActionResDTO": {
        "properties": {
          "response_data": {
            "description": "Indicates if the action was executed successfully",
            "type": "boolean"
          },
          "execution_details": {
            "description": "Details of the execution status",
            "type": "object"
          }
        },
        "type": "object",
        "required": [
          "response_data",
          "execution_details"
        ]
      },
      "ActionsQueryDTO": {
        "properties": {
          "tags": {
            "type": "string"
          },
          "appNames": {
            "description": "Names of the apps",
            "type": "string"
          },
          "useCase": {
            "description": "Use case",
            "type": "string"
          },
          "showEnabledOnly": {
            "description": "Show enabled only",
            "type": "boolean"
          },
          "limit": {
            "description": "Limit",
            "type": "number"
          },
          "apps": {
            "type": "string"
          },
          "actions": {
            "type": "string"
          },
          "usecaseLimit": {
            "type": "number"
          },
          "filterImportantActions": {
            "type": "boolean"
          },
          "showAll": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ActionsControllerV1": {
        "properties": {
          "getAction": {
            "items": {
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object",
        "required": [
          "getAction"
        ]
      },
      "OAuth2CallbackQueryDto": {
        "properties": {
          "state": {
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "state"
        ]
      },
      "RedirectUriDTO": {
        "properties": {
          "redirectUri": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "ListTriggersQueryDTO": {
        "properties": {
          "appNames": {
            "description": "Names of the apps",
            "type": "string"
          },
          "connectedAccountIds": {
            "description": "IDs of the connected accounts",
            "type": "string"
          },
          "triggerIds": {
            "description": "IDs of the triggers",
            "type": "string"
          },
          "showEnabledOnly": {
            "description": "Show enabled only",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "GetActiveTriggersQueryDTO": {
        "properties": {
          "connectedAccountIds": {
            "description": "IDs of the connected accounts",
            "type": "string"
          },
          "integrationIds": {
            "description": "IDs of the integrations",
            "type": "string"
          },
          "triggerIds": {
            "description": "IDs of the triggers",
            "type": "string"
          },
          "triggerNames": {
            "description": "Names of the triggers",
            "type": "string"
          },
          "page": {
            "description": "Page number",
            "type": "number"
          },
          "limit": {
            "description": "Limit per page",
            "type": "number"
          },
          "showDisabled": {
            "description": "Show disabled triggers",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "GetLogsQueryDTO": {
        "properties": {
          "connectionId": {
            "description": "ID of the connection",
            "type": "string"
          },
          "integrationId": {
[...]
