{
  "openapi": "3.0.0",
  "info": {
    "title": "Composio OpenAPI",
    "description": "Composio SDK: Equip your agent with high-quality tools and build your real-world usecase",
    "version": "1.0.0",
    "x-konfig-ignore": {
      "object-with-no-properties": true
    }
  },
  "servers": [
    {
      "url": "https://backend.composio.dev"
    }
  ],
  "tags": [
    {
      "name": "Triggers"
    },
    {
      "name": "Actions"
    },
    {
      "name": "Auth"
    },
    {
      "name": "Integrations"
    },
    {
      "name": "Connections"
    },
    {
      "name": "Metadata"
    },
    {
      "name": "Team"
    },
    {
      "name": "API-Keys"
    },
    {
      "name": "Apps"
    },
    {
      "name": "CLI"
    },
    {
      "name": "Login"
    },
    {
      "name": "Admin"
    },
    {
      "name": "Logs"
    }
  ],
  "paths": {
    "/api/v1/client/auth/identify": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Identify client",
        "operationId": "ClientAuth_identifyClientOperation",
        "requestBody": {
          "description": "IdentifyClientReqDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentifyClientReqDTO"
              }
            }
          },
          "required": false
        },
        "responses": {
          "202": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/IdentifyClientResDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/client/auth/google_login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Google login",
        "operationId": "ClientAuth_googleLogin",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientAuthGoogleLoginRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/html; charset=utf-8": {
              }
            }
          }
        }
      }
    },
    "/api/v1/client/auth/send_magic_link": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Send magic link",
        "operationId": "ClientAuth_sendMagicLink",
        "requestBody": {
          "description": "MagicLinkReqDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MagicLinkReqDTO"
              }
            }
          },
          "required": false
        },
        "responses": {
          "202": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/MagicLinkResDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/client/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Logout API",
        "operationId": "ClientAuth_userLogout",
        "description": "Logout the user and clear the server side session",
        "responses": {
          "201": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/LogoutResDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/client/auth/verify_magic_link": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Verify magic link",
        "operationId": "ClientAuth_verifyMagicLink",
        "requestBody": {
          "description": "VerifyMagicLinkReqDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyMagicLinkReqDTO"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyMagicLinkResDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/client/auth/client_info": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get client info",
        "operationId": "ClientAuth_getUserInfo",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/html; charset=utf-8": {
              }
            }
          }
        }
      }
    },
    "/api/v1/client/auth/pusher_auth": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Pusher user auth",
        "operationId": "ClientAuth_authenticateUser",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientAuthAuthenticateUserRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/html; charset=utf-8": {
              }
            }
          }
        }
      }
    },
    "/api/v1/client/auth/delete/{clientId}": {
      "delete": {
        "tags": [
          "Auth"
        ],
        "summary": "Delete client",
        "operationId": "ClientAuth_deleteClient",
        "parameters": [
          {
            "in": "path",
            "name": "clientId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/html; charset=utf-8": {
              }
            }
          }
        }
      }
    },
    "/api/v1/team/invite": {
      "post": {
        "tags": [
          "Team"
        ],
        "summary": "Invite member",
        "operationId": "Team_sendInvitation",
        "requestBody": {
          "description": "InviteMemberReqDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteMemberReqDTO"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/MemberResDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/team/members": {
      "get": {
        "tags": [
          "Team"
        ],
        "summary": "List members",
        "operationId": "Team_getMemberList",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/TeamGetMemberListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/team/members/{id}": {
      "delete": {
        "tags": [
          "Team"
        ],
        "summary": "Remove member",
        "operationId": "Team_removeMemberById",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/html; charset=utf-8": {
              }
            }
          }
        }
      }
    },
    "/api/v1/api_keys": {
      "post": {
        "tags": [
          "API-Keys"
        ],
        "summary": "Generate api key",
        "operationId": "ApiKeys_generate",
        "requestBody": {
          "description": "GenerateAPIKeyReqDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAPIKeyReqDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeyResDTO"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "API-Keys"
        ],
        "summary": "List api keys",
        "operationId": "ApiKeys_list",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeysListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/api_keys/{id}": {
      "delete": {
        "tags": [
          "API-Keys"
        ],
        "summary": "Delete api key",
        "operationId": "ApiKeys_remove",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful response",
            "content": {
              "text/html; charset=utf-8": {
              }
            }
          }
        }
      }
    },
    "/api/v1/apps": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Get apps",
        "operationId": "App_list",
        "description": "Retrieve a list of all applications based on query parameters.",
        "parameters": [
          {
            "in": "query",
            "name": "category",
            "schema": {
              "description": "Category of the app",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppListResDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/apps/openapi/spec/list": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Get opena api specs",
        "operationId": "App_listOpenApiSpecs",
        "responses": {
          "200": {
            "description": "List of all openapi spec tools",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppListOpenApiSpecsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/apps/{appName}": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Get app",
        "operationId": "App_getDetails",
        "description": "Get app details",
        "parameters": [
          {
            "in": "path",
            "name": "appName",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleAppInfoResDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/integrations": {
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Create connector",
        "operationId": "AppConnector_createIntegration",
        "requestBody": {
          "description": "CreateConnectorPayloadDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConnectorPayloadDTO"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/GetConnectorInfoResDTO"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "List global connectors",
        "operationId": "AppConnector_listGlobalConnectors",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/GetConnectorListResDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/integrations/{integrationId}": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "Get connector info",
        "operationId": "AppConnector_getConnectorInfo",
        "parameters": [
          {
            "in": "path",
            "name": "integrationId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/GetConnectorInfoResDTO"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Integrations"
        ],
        "summary": "Patch connector",
        "operationId": "AppConnector_updateIntegration",
        "parameters": [
          {
            "in": "path",
            "name": "integrationId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "PatchConnectorReqDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchConnectorReqDTO"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/PatchConnectorResDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Integrations"
        ],
        "summary": "Delete connector",
        "operationId": "AppConnector_deleteConnector",
        "parameters": [
          {
            "in": "path",
            "name": "integrationId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteRowAPIDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/integrations/{integrationId}/status": {
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Patch post connector",
        "operationId": "AppConnector_updateStatus",
        "parameters": [
          {
            "in": "path",
            "name": "integrationId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "PatchConnectorReqDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchConnectorReqDTO"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/PatchConnectorResDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/actions": {
      "get": {
        "tags": [
          "Actions"
        ],
        "summary": "List actions",
        "operationId": "ActionsControllerV1_list",
        "parameters": [
          {
            "in": "query",
            "name": "appNames",
            "schema": {
              "description": "Names of the apps",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "useCase",
            "schema": {
              "description": "Use case",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "showEnabledOnly",
            "schema": {
              "description": "Show enabled only",
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Limit",
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "apps",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "actions",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tags",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "usecaseLimit",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "filterImportantActions",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showAll",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ActionsListResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/actions/{actionId}/execute": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Execute action",
        "operationId": "ActionsControllerV1_execute",
        "parameters": [
          {
            "in": "path",
            "name": "actionId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "ActionExecutionReqDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActionExecutionReqDTO"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ActionExecutionResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/actions/proxy": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Execute action proxy",
        "operationId": "ActionsControllerV1_executeProxy",
        "parameters": [
          {
            "in": "query",
            "name": "endpoint",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "connectedAccountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteActionResDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/actions/{actionId}": {
      "get": {
        "tags": [
          "Actions"
        ],
        "summary": "Get action",
        "operationId": "ActionsControllerV1_get",
        "parameters": [
          {
            "in": "path",
            "name": "actionId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ActionDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/connectedAccounts": {
      "get": {
        "tags": [
          "Connections"
        ],
        "summary": "Get connections",
        "operationId": "Connections_list",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "appNames",
            "schema": {
            }
          },
          {
            "in": "query",
            "name": "integrationId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "connectionId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "user_uuid",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "showActiveOnly",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "showDisabled",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all connections for the current user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConnectionsResponseDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Connections"
        ],
        "summary": "Initiate connection",
        "operationId": "Connections_initiate",
        "requestBody": {
          "description": "InitiateConnectionPayloadDto",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitiateConnectionPayloadDto"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Initiates a connection for the given integration and mark the connection status as initiated if the auth scheme is OAuth1 or OAuth2",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InitiateConnectionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/connectedAccounts/{connectedAccountId}": {
      "get": {
        "tags": [
          "Connections"
        ],
        "summary": "Get connection",
        "operationId": "Connections_get",
        "parameters": [
          {
            "in": "path",
            "name": "connectedAccountId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve details of a specific connected account by its ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectedAccountResponseDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Connections"
        ],
        "summary": "Delete connection",
        "operationId": "Connections_delete",
        "parameters": [
          {
            "in": "path",
            "name": "connectedAccountId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionsDeleteResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/connectedAccounts/{connectedAccountId}/disable": {
      "post": {
        "tags": [
          "Connections"
        ],
        "summary": "Disable connection",
        "operationId": "Connections_disable",
        "parameters": [
          {
            "in": "path",
            "name": "connectedAccountId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToggleConnectedAccountResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/connectedAccounts/{connectedAccountId}/enable": {
      "post": {
        "tags": [
          "Connections"
        ],
        "summary": "Enable connection",
        "operationId": "Connections_enable",
        "parameters": [
          {
            "in": "path",
            "name": "connectedAccountId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToggleConnectedAccountResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/login/{appName}/auth": {
      "get": {
        "tags": [
          "Login"
        ],
        "summary": "Handle o auth 2 callback",
        "operationId": "AppLogin_handleAuth2Callback",
        "parameters": [
          {
            "in": "path",
            "name": "appName",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "redirectUri",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/html; charset=utf-8": {
              }
            }
          }
        }
      }
    },
    "/api/v1/login/{appName}/callback": {
      "get": {
        "tags": [
          "Login"
        ],
        "summary": "Verify o auth 2 login",
        "operationId": "AppLogin_verifyOAuth2Login",
        "parameters": [
          {
            "in": "path",
            "name": "appName",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/html; charset=utf-8": {
              }
            }
          }
        }
      }
    },
    "/api/v1/triggers": {
      "get": {
        "tags": [
          "Triggers"
        ],
        "summary": "List triggers",
        "operationId": "Triggers_list",
        "description": "List triggers",
        "parameters": [
          {
            "in": "query",
            "name": "appNames",
            "schema": {
              "description": "Names of the apps",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "connectedAccountIds",
            "schema": {
              "description": "IDs of the connected accounts",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "triggerIds",
            "schema": {
              "description": "IDs of the triggers",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "showEnabledOnly",
            "schema": {
              "description": "Show enabled only",
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/TriggersListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/triggers/handle/{appName}/{clientId}": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "Handle trigger",
        "operationId": "Triggers_handleTrigger",
        "parameters": [
          {
            "in": "path",
            "name": "appName",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "clientId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TriggersHandleTriggerRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/html; charset=utf-8": {
              }
            }
          }
        }
      }
    },
    "/api/v1/triggers/enable/{connectedAccountId}/{triggerName}": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "Enable trigger",
        "operationId": "Triggers_enable",
        "description": "Enables a trigger for a connected account and specific trigger name.",
        "parameters": [
          {
            "in": "path",
            "name": "connectedAccountId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "triggerName",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "EnableTriggerBodyDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnableTriggerBodyDTO"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/TriggerResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/triggers/get/{triggerId}": {
      "get": {
        "tags": [
          "Triggers"
        ],
        "summary": "Get trigger",
        "operationId": "Triggers_getById",
        "description": "Retrieves a specific trigger by its ID.",
        "parameters": [
          {
            "in": "path",
            "name": "triggerId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/html; charset=utf-8": {
              }
            }
          }
        }
      }
    },
    "/api/v1/triggers/active_triggers": {
      "get": {
        "tags": [
          "Triggers"
        ],
        "summary": "Get active triggers",
        "operationId": "Triggers_getActiveTriggers",
        "description": "Lists active triggers based on query parameters.",
        "parameters": [
          {
            "in": "query",
            "name": "connectedAccountIds",
            "schema": {
              "description": "IDs of the connected accounts",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "integrationIds",
            "schema": {
              "description": "IDs of the integrations",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "triggerIds",
            "schema": {
              "description": "IDs of the triggers",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "triggerNames",
            "schema": {
              "description": "Names of the triggers",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "description": "Page number",
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Limit per page",
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "showDisabled",
            "schema": {
              "description": "Show disabled triggers",
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveTriggersResDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/triggers/instance/{triggerId}/status": {
      "patch": {
        "tags": [
          "Triggers"
        ],
        "summary": "Switch trigger instance status",
        "operationId": "Triggers_switchInstanceStatus",
        "description": "Switches the status of a trigger instance.",
        "parameters": [
          {
            "in": "path",
            "name": "triggerId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "SwitchTriggerStatusBodyDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SwitchTriggerStatusBodyDTO"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/TriggerResponseDTO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "Switch post trigger instance status",
        "operationId": "Triggers_switchPostInstanceStatus",
        "description": "Switches the status of a trigger instance.",
        "parameters": [
          {
            "in": "path",
            "name": "triggerId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "SwitchTriggerStatusBodyDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SwitchTriggerStatusBodyDTO"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/TriggerResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/triggers/disable/{triggerInstanceId}": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "Disable trigger",
        "operationId": "Triggers_disableTriggerInstance",
        "description": "Disables a specified trigger instance.",
        "parameters": [
          {
            "in": "path",
            "name": "triggerInstanceId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/TriggerResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/triggers/instance/{triggerInstanceId}": {
      "delete": {
        "tags": [
          "Triggers"
        ],
        "summary": "Delete trigger",
        "operationId": "Triggers_deleteTriggerInstance",
        "description": "Deletes a specified trigger instance.",
        "parameters": [
          {
            "in": "path",
            "name": "triggerInstanceId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteRowAPIDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/triggers/set_callback_url": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "Set callback url",
        "operationId": "Triggers_setCallbackUrl",
        "description": "Sets a universal callback URL for the client.",
        "requestBody": {
          "description": "SetCallbackUrlBodyDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetCallbackUrlBodyDTO"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/TriggerResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/triggers/callback_url": {
      "get": {
        "tags": [
          "Triggers"
        ],
        "summary": "Get webhook url",
        "operationId": "Triggers_getCallbackUrl",
        "description": "Retrieves the universal callback URL set for the client.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookURLResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/triggers/logs": {
      "get": {
        "tags": [
          "Triggers"
        ],
        "summary": "Get logs",
        "operationId": "Triggers_getLogsBasedOnConnectionAndIntegrationDetails",
        "description": "Fetches logs based on connection and integration details.",
        "parameters": [
          {
            "in": "query",
            "name": "connectionId",
            "schema": {
              "description": "ID of the connection",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "integrationId",
            "schema": {
              "description": "ID of the integration",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "description": "Page number",
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Limit per page",
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/TriggerLogsResDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/triggers/pusher": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "Handle pusher events",
        "operationId": "Triggers_handlePusherEvents",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TriggersHandlePusherEventsRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/html; charset=utf-8": {
              }
            }
          }
        }
      }
    },
    "/api/v1/cli/sentry-dns": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Sentry dns",
        "operationId": "Admin_getSentryDns",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/html; charset=utf-8": {
              }
            }
          }
        }
      }
    },
    "/api/v1/cli/generate-cli-session": {
      "get": {
        "tags": [
          "CLI"
        ],
        "summary": "Handle cli code exchange",
        "operationId": "Cli_exchangeCode",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateCLISessionResDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cli/get-cli-code": {
      "get": {
        "tags": [
          "CLI"
        ],
        "summary": "Get cli code",
        "operationId": "Cli_getCode",
        "parameters": [
          {
            "in": "query",
            "name": "key",
            "required": true,
            "schema": {
              "description": "Unique key for CLI session",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "code",
            "required": false,
            "schema": {
              "description": "Code for CLI verification",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/GetCLISessionResDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cli/verify-cli-code": {
      "get": {
        "tags": [
          "CLI"
        ],
        "summary": "Handle cli code verification",
        "operationId": "Cli_verifyCode",
        "parameters": [
          {
            "in": "query",
            "name": "key",
            "required": true,
            "schema": {
              "description": "Unique key for CLI session",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "code",
            "required": false,
            "schema": {
              "description": "Code for CLI verification",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyCLICodeResDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/metadata": {
      "get": {
        "tags": [
          "Metadata"
        ],
        "summary": "Get metadata",
        "operationId": "Metadata_getInfo",
        "parameters": [
          {
            "in": "query",
            "name": "email",
            "required": true,
            "schema": {
              "description": "Email of the client",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/html; charset=utf-8": {
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Metadata"
        ],
        "summary": "Update metadata",
        "operationId": "Metadata_updateInfo",
        "requestBody": {
          "description": "MetadataReqDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetadataReqDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/html; charset=utf-8": {
              }
            }
          }
        }
      }
    },
    "/api/v1/metadata/toggle/trigger": {
      "post": {
        "tags": [
          "Metadata"
        ],
        "summary": "Toggle trigger state",
        "operationId": "Metadata_toggleTriggerState",
        "requestBody": {
          "description": "TriggersEnabledToggleReqDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TriggersEnabledToggleReqDTO"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/html; charset=utf-8": {
              }
            }
          }
        }
      }
    },
    "/api/v1/metadata/toggle.info": {
      "get": {
        "tags": [
          "Metadata"
        ],
        "summary": "Get toggle info",
        "operationId": "Metadata_getToggleInfo",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/html; charset=utf-8": {
              }
            }
          }
        }
      }
    },
    "/api/v2/actions": {
      "get": {
        "tags": [
          "Actions"
        ],
        "summary": "List actions",
        "operationId": "ActionsControllerV2_list",
        "description": "Retrieve a list of all actions based on query parameters.",
        "parameters": [
          {
            "in": "query",
            "name": "appNames",
            "schema": {
              "description": "Names of the apps",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "useCase",
            "schema": {
              "description": "Use case",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "showEnabledOnly",
            "schema": {
              "description": "Show enabled only",
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Limit",
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "apps",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "actions",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tags",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "usecaseLimit",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "filterImportantActions",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showAll",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ActionsListResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/actions/list/all": {
      "get": {
        "tags": [
          "Actions"
        ],
        "summary": "List actions minimal",
        "operationId": "ActionsControllerV2_getAllActionsBasedOnQuery",
        "description": "Retrieve a list of all actions based on query parameters.",
        "parameters": [
          {
            "in": "query",
            "name": "appNames",
            "schema": {
              "description": "Names of the apps",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "useCase",
            "schema": {
              "description": "Use case",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "showEnabledOnly",
            "schema": {
              "description": "Show enabled only",
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Limit",
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "apps",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "actions",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tags",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "usecaseLimit",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "filterImportantActions",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showAll",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ActionsListResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/actions/{actionId}/execute": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Execute action",
        "operationId": "ActionsControllerV2_execute",
        "description": "Execute an action. Support both connected account and no auth auth.",
        "parameters": [
          {
            "in": "path",
            "name": "actionId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "ActionExecutionReqDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActionExecutionReqDTO"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ActionExecutionResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/actions/{actionId}": {
      "get": {
        "tags": [
          "Actions"
        ],
        "summary": "Get action",
        "operationId": "ActionsControllerV2_getActionById",
        "description": "Get action details",
        "parameters": [
          {
            "in": "path",
            "name": "actionId",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ActionDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/actions/proxy": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Execute action proxy",
        "operationId": "ActionsControllerV2_executeActionProxy",
        "description": "Execute an action with direct auth.",
        "parameters": [
          {
            "in": "query",
            "name": "endpoint",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "connectedAccountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ActionExecutionResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/triggers/{triggerName}": {
      "get": {
        "tags": [
          "Triggers"
        ],
        "summary": "Get trigger info",
        "operationId": "TriggerControllerV2_getTriggerInfo",
        "description": "Get Trigger Info",
        "parameters": [
          {
            "in": "path",
            "name": "triggerName",
            "required": true,
            "schema": {
              "pattern": "[^\\/#\\?]+?",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/TriggerControllerV2GetTriggerInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/logs": {
      "get": {
        "tags": [
          "Logs"
        ],
        "summary": "Get logs",
        "operationId": "Logs_list",
        "description": "List logs",
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "schema": {
              "description": "Type of the log",
              "enum": [
                "error",
                "info",
                "debug"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "time",
            "schema": {
              "description": "Time interval for which data needs to be fetched",
              "enum": [
                "5m",
                "30m",
                "6h",
                "1d",
                "1w",
                "1month",
                "1y"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "description": "Status of the log",
              "enum": [
                "all",
                "success",
                "error"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "description": "Search term in the log",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "integrationId",
            "schema": {
              "description": "Integration UUID",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Limit of the logs",
              "type": "number",
              "default": 10
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "Cursor for pagination",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "connectionId",
            "schema": {
              "description": "Connection ID of the log",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/LogsResDTO"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MagicLinkResDTO": {
        "properties": {
          "status": {
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "status"
        ]
      },
      "MagicLinkReqDTO": {
        "properties": {
          "email": {
            "description": "The email of the user",
            "format": "email",
            "type": "string"
          },
          "verifyHost": {
            "description": "The frontend host of the user",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "email",
          "verifyHost"
        ]
      },
      "LogoutResDTO": {
        "properties": {
          "message": {
            "description": "Message confirming the logout",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "message"
        ]
      },
      "VerifyMagicLinkReqDTO": {
        "properties": {
          "token": {
            "description": "The magic link token",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "token"
        ]
      },
      "VerifyMagicLinkDataDTO": {
        "description": "Data containing client and token information if verification is successful",
        "properties": {
          "clientId": {
            "type": "string"
          },
          "isValid": {
            "type": "boolean"
          },
          "jwtToken": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        },
        "type": "object",
        "required": [
          "clientId",
          "isValid",
          "jwtToken",
          "email"
        ]
      },
      "VerifyMagicLinkResDTO": {
        "properties": {
          "message": {
            "description": "Message indicating the result of the verification",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/VerifyMagicLinkDataDTO"
          }
        },
        "type": "object",
        "required": [
          "message"
        ]
      },
      "IdentifyClientReqDTO": {
        "properties": {
          "hash": {
            "description": "The hash of the client",
            "type": "string"
          },
          "framework": {
            "description": "The framework used by the client",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "hash"
        ]
      },
      "IdentifyClientResDTO": {
        "properties": {
          "clientId": {
            "description": "The client ID",
            "type": "string"
          },
          "apiKey": {
            "description": "The API key associated with the client",
            "type": "string"
          },
          "email": {
            "description": "The email associated with the client",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "clientId",
          "apiKey",
          "email"
        ]
      },
      "UserGitUserInfo": {
        "description": "User Git information",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "format": "email",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "email"
        ],
        "example": {
          "name": "John Doe",
          "email": "john.doe@example.com"
        },
        "x-examples": [
          {
            "name": "John Doe",
            "email": "john.doe@example.com"
          }
        ]
      },
      "TrackClientReqDTO": {
        "properties": {
          "framework": {
            "description": "The framework used by the client",
            "type": "string"
          },
          "mac_address": {
            "description": "The MAC address of the client device",
            "type": "string"
          },
          "user_git_user_info": {
            "$ref": "#/components/schemas/UserGitUserInfo"
          }
        },
        "type": "object",
        "required": [
          "framework"
        ]
      },
      "TrackClientResDTO": {
        "properties": {
          "message": {
            "description": "Message indicating the result of the tracking operation",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "message"
        ]
      },
      "DeleteRowAPIDTO": {
        "properties": {
          "status": {
            "description": "Status of the delete operation",
            "type": "string"
          },
          "count": {
            "description": "Number of records deleted",
            "type": "number"
          }
        },
        "type": "object",
        "required": [
          "status",
          "count"
        ]
      },
      "InviteMemberReqDTO": {
        "properties": {
          "email": {
            "description": "The email of the member",
            "format": "email",
            "type": "string"
          },
          "name": {
            "description": "The name of the member",
            "type": "string"
          },
          "verifyHost": {
            "description": "The host to verify the member",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "email",
          "name",
          "verifyHost"
        ]
      },
      "MemberResDTO": {
        "properties": {
          "email": {
            "description": "The email of the member",
            "type": "string"
          },
          "id": {
            "description": "The uuid identifier for the member",
            "type": "string"
          },
          "name": {
            "description": "The name of the member",
            "type": "string"
          },
          "createdAt": {
            "description": "The creation date of the member record",
            "pattern": "\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d.\\d+Z?",
            "type": "string"
          },
          "updatedAt": {
            "description": "The last update date of the member record",
            "pattern": "\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d.\\d+Z?",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "email",
          "id",
          "name"
        ]
      },
      "GenerateAPIKeyReqDTO": {
        "properties": {
          "name": {
            "description": "The name of the API key to be generated",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "name"
        ]
      },
      "APIKeyResDTO": {
        "properties": {
          "id": {
            "description": "The ID of the API key",
            "type": "string"
          },
          "name": {
            "description": "The name of the API key",
            "type": "string"
          },
          "createdAt": {
            "description": "The creation date of the API key",
            "pattern": "\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d.\\d+Z?",
            "type": "string"
          },
          "updatedAt": {
            "description": "The last update date of the API key",
            "pattern": "\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d.\\d+Z?",
            "type": "string"
          },
          "key": {
            "description": "The generated API key",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "createdAt",
          "updatedAt",
          "key"
        ]
      },
      "DeleteAPIKeyReqDTO": {
        "properties": {
          "id": {
            "description": "The ID of the API key to be deleted",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "id"
        ]
      },
      "SingleAppInfoResDTO": {
        "properties": {
          "description": {
            "description": "The description of the app",
            "type": "string"
          },
          "appId": {
            "description": "The unique identifier for the app",
            "type": "string"
          },
          "key": {
            "description": "The key of the app",
            "type": "string"
          },
          "name": {
            "description": "The name of the app",
            "type": "string"
          },
          "logo": {
            "description": "The logo of the app",
            "type": "string"
          },
          "categories": {
            "description": "The categories of the app",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "path": {
            "description": "The path of the app",
            "type": "string"
          },
          "docs": {
            "description": "The documentation URL of the app",
            "type": "string"
          },
          "configuration_docs_text": {
            "description": "The configuration documentation text of the app",
            "type": "string"
          },
          "status": {
            "description": "The status of the app",
            "type": "string"
          },
          "documentation_doc_text": {
            "description": "The documentation text of the app",
            "type": "string"
          },
          "testConnectors": {
            "description": "The test connectors of the app",
            "items": {
            },
            "type": "array"
          },
          "no_auth": {
            "description": "Indicates if the app has no authentication",
            "type": "boolean"
          },
          "auth_schemes": {
            "description": "The authentication schemes of the app",
            "items": {
            },
            "type": "array"
          },
          "meta": {
            "description": "The metadata of the app"
          },
          "yaml": {
            "description": "The yaml of the app"
          }
        },
        "type": "object",
        "required": [
          "appId",
          "key",
          "name",
          "description"
        ]
      },
      "AddToolsReqDTO": {
        "properties": {
          "name": {
            "description": "The name of the tool",
            "type": "string"
          },
          "openApiSpecYaml": {
            "description": "The OpenAPI specification in YAML format",
            "type": "string"
          },
          "integrationYaml": {
            "description": "The integration details in YAML format",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "name",
          "openApiSpecYaml",
          "integrationYaml"
        ]
      },
      "OpenAPISpecListResDTO": {
        "properties": {
          "id": {
            "description": "Unique identifier for the OpenAPI spec",
            "type": "string"
          },
          "name": {
            "description": "Name of the OpenAPI spec",
            "type": "string"
          },
          "clientId": {
            "description": "Client identifier",
            "type": "string"
          },
          "openApiSpec": {
            "description": "OpenAPI specification in YAML format",
            "type": "string"
          },
          "integrationYaml": {
            "description": "Integration details in YAML format",
            "type": "string"
          },
          "enabled": {
            "description": "Whether the OpenAPI spec is enabled",
            "type": "boolean"
          },
          "openAPISpecURL": {
            "description": "URL to the OpenAPI specification",
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "integrationYAMLURL": {
            "description": "URL to the integration YAML",
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "lastSyncAt": {
            "description": "Last synchronization date and time",
            "pattern": "\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d.\\d+Z?",
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "description": "Creation date and time",
            "pattern": "\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d.\\d+Z?",
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "description": "Last update date and time",
            "pattern": "\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d.\\d+Z?",
            "type": "string",
            "format": "date-time"
          },
          "jobStatus": {
            "description": "The job status of the app",
            "enum": [
              "running",
              "success",
              "failed"
            ],
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "clientId",
          "openApiSpec",
          "integrationYaml",
          "enabled",
          "lastSyncAt",
          "createdAt",
          "updatedAt"
        ]
      },
      "AddRepoURLResDTO": {
        "properties": {
          "repoUrl": {
            "description": "Repository URL",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "repoUrl"
        ]
      },
      "DeleteToolsReqDTO": {
        "properties": {
          "name": {
            "description": "Name of the tool",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "name"
        ]
      },
      "DeleteToolsResDTO": {
        "properties": {
          "message": {
            "description": "Message indicating successful deletion of tools",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "message"
        ]
      },
      "AddToolsRequestDTO": {
        "properties": {
          "name": {
            "description": "The name of the tool",
            "type": "string"
          },
          "open_api_spec_yaml": {
            "description": "The OpenAPI specification in YAML format",
            "type": "string"
          },
          "integration_yaml": {
            "description": "The integration details in YAML format",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "name",
          "open_api_spec_yaml",
          "integration_yaml"
        ]
      },
      "AddRepoURLReqDTO": {
        "properties": {
          "repoUrl": {
            "description": "Repository URL",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "repoUrl"
        ]
      },
      "AppQueryDTO": {
        "properties": {
          "category": {
            "description": "Category of the app",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AppInfoResponseDto": {
        "properties": {
          "description": {
            "description": "The description of the app",
            "type": "string"
          },
          "appId": {
            "description": "The ID of the app",
            "type": "string"
          },
          "key": {
            "description": "The key of the app",
            "type": "string"
          },
          "name": {
            "description": "The name of the app",
            "type": "string"
          },
          "logo": {
            "description": "The logo of the app",
            "type": "string"
          },
          "categories": {
            "description": "The categories of the app",
            "items": {
            },
            "type": "string"
          },
          "enabled": {
            "description": "Indicates if the app is enabled",
            "type": "boolean"
          },
          "no_auth": {
            "description": "Indicates if the app has no authentication",
            "type": "boolean"
          }
        },
        "type": "object",
        "required": [
          "appId",
          "key",
          "name",
          "description",
          "logo",
          "categories",
          "enabled"
        ]
      },
      "AppListResDTO": {
        "properties": {
          "items": {
            "description": "List of app details",
            "items": {
              "$ref": "#/components/schemas/AppInfoResponseDto"
            },
            "type": "array"
          },
          "totalPages": {
            "description": "Total number of pages",
            "type": "number"
          }
        },
        "type": "object",
        "required": [
          "items",
          "totalPages"
        ]
      },
      "GetConnectorInfoResDTO": {
        "properties": {
          "id": {
            "description": "Unique identifier of the connector",
            "type": "string"
          },
          "authScheme": {
            "description": "Authentication scheme used by the connector",
            "type": "string"
          },
          "name": {
            "description": "Name of the connector",
            "type": "string"
          },
          "createdAt": {
            "description": "Creation date of the connector",
            "pattern": "\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d.\\d+Z?",
            "type": "string"
          },
          "updatedAt": {
            "description": "Last update date of the connector",
            "pattern": "\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d.\\d+Z?",
            "type": "string"
          },
          "enabled": {
            "description": "Flag to indicate if the connector is currently enabled",
            "type": "boolean"
          },
          "deleted": {
            "description": "Flag to indicate if the connector has been deleted",
            "type": "boolean"
          },
          "appId": {
            "description": "Application ID associated with the connector",
            "type": "string"
          },
          "defaultConnectorId": {
            "description": "Default connector ID if one exists",
            "type": "string"
          },
          "authConfig": {
            "description": "Authentication configuration with sensitive data obscured",
            "type": "object"
          },
          "expectedInputFields": {
            "description": "List of required fields expected from the customer",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "logo": {
            "description": "Logo URL of the application associated with the connector",
            "type": "string"
          },
          "appName": {
            "description": "Name of the application associated with the connector",
            "type": "string"
          },
          "useComposioAuth": {
            "description": "Flag to indicate if Composio authentication is used",
            "type": "boolean"
          }
        },
        "type": "object",
        "required": [
          "enabled",
          "appId",
          "authConfig",
          "expectedInputFields",
          "logo",
          "appName",
          "useComposioAuth"
        ]
      },
      "AuthConfigDTO": {
        "description": "Authentication configuration",
        "properties": {
          "scopes": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "user_scopes": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "CreateConnectorPayloadDTO": {
        "properties": {
          "name": {
            "description": "Name of the connector",
            "type": "string"
          },
          "authScheme": {
            "description": "Authentication scheme",
            "type": "string"
          },
          "authConfig": {
            "$ref": "#/components/schemas/AuthConfigDTO"
          },
          "useComposioAuth": {
            "description": "Flag to indicate if Composio authentication should be used",
            "type": "boolean",
            "anyOf": [
              {
                "type": "boolean"
              }
            ]
          },
          "appId": {
            "description": "Application ID",
            "type": "string"
          },
          "forceNewIntegration": {
            "description": "Flag to force new integration",
            "type": "boolean"
          }
        },
        "type": "object",
        "required": [
          "name",
          "appId"
        ]
      },
      "PatchConnectorReqDTO": {
        "properties": {
          "authConfig": {
            "description": "Authentication configuration for the connector",
            "type": "object"
          },
          "enabled": {
            "description": "Flag to indicate if the connector is enabled",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "PatchConnectorResDTO": {
        "properties": {
          "status": {
            "description": "Status of the patch operation",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "status"
        ]
      },
      "ConnectorListItemDTO": {
        "properties": {
          "appName": {
            "description": "Application name associated with the connector",
            "type": "string"
          },
          "_count": {
            "description": "Count of connections for the connector",
            "type": "object"
          },
          "connections": {
            "description": "List of connections with their details and request logs count",
            "items": {
            },
            "type": "array"
          },
          "id": {
            "description": "Unique identifier of the connector",
            "type": "string"
          },
          "name": {
            "description": "Name of the connector",
            "type": "string"
          },
          "authScheme": {
            "description": "Authentication scheme used by the connector",
            "type": "string"
          },
          "createdAt": {
            "description": "Creation date of the connector",
            "oneOf": [
              {
                "format": "date",
                "type": "string"
              },
              {
                "format": "date-time",
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "description": "Last update date of the connector",
            "oneOf": [
              {
                "format": "date",
                "type": "string"
              },
              {
                "format": "date-time",
                "type": "string"
              }
            ]
          },
          "enabled": {
            "description": "Flag to indicate if the connector is enabled",
            "type": "boolean"
          },
          "deleted": {
            "description": "Flag to indicate if the connector is deleted",
            "type": "boolean"
          },
          "appId": {
            "description": "App ID associated with the connector",
            "type": "string"
          },
          "defaultConnectorId": {
            "description": "Default connector ID if available",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "appName",
          "_count",
          "connections",
          "id",
          "name",
          "authScheme",
          "createdAt",
          "updatedAt",
          "enabled",
          "appId"
        ]
      },
      "GetConnectorListResDTO": {
        "properties": {
          "items": {
            "description": "List of connectors",
            "items": {
            },
            "type": "array"
          },
          "totalPages": {
            "description": "Total number of pages available",
            "type": "number"
          },
          "page": {
            "description": "Current page number",
            "type": "number"
          }
        },
        "type": "object",
        "required": [
          "items",
          "totalPages",
          "page"
        ]
      },
      "PageInfo": {
        "properties": {
          "total": {
            "minimum": 0,
            "type": "integer"
          },
          "page": {
            "minimum": 1,
            "type": "integer"
          },
          "pageSize": {
            "minimum": 1,
            "type": "integer"
          },
          "totalPages": {
            "minimum": 1,
            "type": "integer"
          }
        },
        "type": "object",
        "required": [
          "total",
          "page",
          "pageSize",
          "totalPages"
        ]
      },
      "ConnectionWithAppData": {
        "properties": {
          "id": {
            "type": "string"
          },
          "integrationId": {
            "type": "string"
          },
          "clientUniqueUserId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object"
          },
          "deleted": {
            "type": "boolean"
          },
          "enabled": {
            "type": "boolean"
          },
          "createdAt": {
            "oneOf": [
              {
                "format": "date",
                "type": "string"
              },
              {
                "format": "date-time",
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "oneOf": [
              {
                "format": "date",
                "type": "string"
              },
              {
                "format": "date-time",
                "type": "string"
              }
            ]
          },
          "appUniqueId": {
            "type": "string"
          },
          "appName": {
            "type": "string"
          },
          "logo": {
            "type": "string"
          },
          "authConfig": {
            "type": "object"
          }
        },
        "type": "object",
        "required": [
          "id",
          "integrationId",
          "status",
          "createdAt",
          "updatedAt",
          "appUniqueId",
          "appName"
        ]
      },
      "GetConnectionsResult": {
        "properties": {
          "connections": {
            "items": {
              "$ref": "#/components/schemas/ConnectionWithAppData"
            },
            "type": "array"
          },
          "pageInfo": {
            "$ref": "#/components/schemas/PageInfo"
          }
        },
        "type": "object",
        "required": [
          "connections",
          "pageInfo"
        ]
      },
      "ToolsExecuteReqDto": {
        "properties": {
          "actionName": {
            "type": "string"
          },
          "runInSandbox": {
            "type": "boolean"
          },
          "input": {
            "type": "object"
          },
          "nlaInput": {
            "type": "string"
          },
          "authorizationData": {
            "type": "object"
          },
          "appSchema": {
            "type": "object"
          }
        },
        "type": "object",
        "required": [
          "actionName",
          "runInSandbox",
          "input"
        ]
      },
      "DirectExecuteReqDto": {
        "properties": {
          "endpoint": {
            "type": "string"
          },
          "base_url": {
            "type": "string"
          },
          "headers": {
            "type": "object"
          },
          "queryParams": {
            "type": "object"
          }
        },
        "type": "object",
        "required": [
          "endpoint",
          "base_url",
          "headers",
          "queryParams"
        ]
      },
      "ActionExecutionResDto": {
        "properties": {
          "data": {
            "type": "object"
          },
          "error": {
            "type": "string"
          },
          "successfull": {
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "data"
        ]
      },
      "ActionExecutionReqDTO": {
        "properties": {
          "connectedAccountId": {
            "type": "string"
          },
          "appName": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "endpoint": {
            "type": "string"
          },
          "input": {
            "type": "object"
          },
          "text": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "ProxyExecutionReqDTO": {
        "properties": {
          "endpoint": {
            "type": "string"
          },
          "connectedAccountId": {
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "endpoint",
          "connectedAccountId"
        ]
      },
      "ActionDetailsMinimal": {
        "properties": {
          "tags": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "description": {
            "type": "string"
          },
          "appId": {
            "type": "string"
          },
          "appKey": {
            "type": "string"
          },
          "appName": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "logo": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "appKey",
          "appName",
          "description",
          "displayName",
          "enabled",
          "logo",
          "name",
          "tags"
        ]
      },
      "ActionDetails": {
        "properties": {
          "tags": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "description": {
            "type": "string"
          },
          "parameters": {
            "type": "object"
          },
          "response": {
            "type": "object"
          },
          "appId": {
            "type": "string"
          },
          "appKey": {
            "type": "string"
          },
          "appName": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "logo": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "parameters",
          "response",
          "appKey",
          "appName",
          "description",
          "displayName",
          "enabled",
          "logo",
          "name",
          "tags"
        ]
      },
      "ActionsListResponseDTO": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/ActionDetails"
            },
            "type": "array"
          },
          "page": {
            "type": "number"
          },
          "totalPages": {
            "type": "number"
          }
        },
        "type": "object",
        "required": [
          "items",
          "page",
          "totalPages"
        ]
      },
      "ActionsMinimalListResponseDTO": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/ActionDetailsMinimal"
            },
            "type": "array"
          },
          "page": {
            "type": "number"
          },
          "totalPages": {
            "type": "number"
          }
        },
        "type": "object",
        "required": [
          "items",
          "page",
          "totalPages"
        ]
      },
      "ExecuteActionResDTO": {
        "properties": {
          "response_data": {
            "description": "Indicates if the action was executed successfully",
            "type": "boolean"
          },
          "execution_details": {
            "description": "Details of the execution status",
            "type": "object"
          }
        },
        "type": "object",
        "required": [
          "response_data",
          "execution_details"
        ]
      },
      "ActionsQueryDTO": {
        "properties": {
          "tags": {
            "type": "string"
          },
          "appNames": {
            "description": "Names of the apps",
            "type": "string"
          },
          "useCase": {
            "description": "Use case",
            "type": "string"
          },
          "showEnabledOnly": {
            "description": "Show enabled only",
            "type": "boolean"
          },
          "limit": {
            "description": "Limit",
            "type": "number"
          },
          "apps": {
            "type": "string"
          },
          "actions": {
            "type": "string"
          },
          "usecaseLimit": {
            "type": "number"
          },
          "filterImportantActions": {
            "type": "boolean"
          },
          "showAll": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ActionsControllerV1": {
        "properties": {
          "getAction": {
            "items": {
            },
            "type": "array"
          }
        },
        "type": "object",
        "required": [
          "getAction"
        ]
      },
      "ConnectionParams": {
        "properties": {
          "integrationId": {
            "type": "string"
          },
          "connectionParams": {
            "type": "object"
          },
          "isDisabled": {
            "type": "boolean"
          },
          "invocationCount": {
            "type": "number"
          },
          "id": {
            "type": "string"
          },
          "clientUniqueUserId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object"
          },
          "deleted": {
            "type": "boolean"
          },
          "enabled": {
            "type": "boolean"
          },
          "createdAt": {
            "oneOf": [
              {
                "format": "date",
                "type": "string"
              },
              {
                "format": "date-time",
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "oneOf": [
              {
                "format": "date",
                "type": "string"
              },
              {
                "format": "date-time",
                "type": "string"
              }
            ]
          },
          "appUniqueId": {
            "type": "string"
          },
          "appName": {
            "type": "string"
          },
          "logo": {
            "type": "string"
          },
          "authConfig": {
            "type": "object"
          }
        },
        "type": "object",
        "required": [
          "integrationId",
          "isDisabled",
          "invocationCount",
          "id",
          "status",
          "createdAt",
          "updatedAt",
          "appUniqueId",
          "appName"
        ]
      },
      "ToggleConnectedAccountResponseDTO": {
        "properties": {
          "status": {
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "status"
        ]
      },
      "ConnectionParamsHeaders": {
        "properties": {
          "Authorization": {
            "type": "string"
          },
          "x-request-id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "ConnectionParamsForAccount": {
        "properties": {
          "scope": {
            "type": "string"
          },
          "scopes": {
            "type": "string"
          },
          "id_token": {
            "type": "string"
          },
          "client_id": {
            "type": "string"
          },
          "expires_in": {
            "type": "string"
          },
          "token_type": {
            "type": "string"
          },
          "callback_url": {
            "type": "string"
          },
          "client_secret": {
            "type": "string"
          },
          "code_verifier": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          },
          "headers": {
            "type": "object"
          },
          "queryParams": {
            "type": "object"
          },
          "base_url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "MetaApp": {
        "properties": {
          "get_current_user_endpoint": {
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "get_current_user_endpoint"
        ]
      },
      "Meta": {
        "properties": {
          "app": {
            "type": "object"
          }
        },
        "type": "object",
        "required": [
          "app"
        ]
      },
      "ConnectedAccountResponseDTO": {
        "properties": {
          "integrationId": {
            "type": "string"
          },
          "appUniqueId": {
            "type": "string"
          },
          "meta": {
          },
          "isDisabled": {
            "type": "boolean"
          },
          "id": {
            "type": "string"
          },
          "clientUniqueUserId": {
            "type": "string"
[...]
